/*Universal Styles*/
html {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
}

/*Multi-section styles*/
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

main {
  background-color: lightgray;
}

.subtitle button,
.service button,
.inquiry button {
  padding: 1rem;
  color: #444;
  background-color: #eee;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0 0 5px 0.5px #616161;
  cursor: pointer;
  outline: none;
  width: 100%;
}

section {
  padding: 2rem 4rem;
}

#faq,
#gallery {
  display: none;
}

/*Header styles*/
header {
  position: relative;
  top: 0;
  transition: top 0.45s linear;
  padding: 1rem;
  background-color: #424242;
  color: white;
  font-size: 1.25rem;
  z-index: 1;
}

header .home {
  display: block;
  flex-grow: 1;
  font-size: 1.75rem;
}

header .menu-button {
  display: none;
  border: none;
  font-size: 1.75rem;
  color: white;
  background-color: #424242;
}

header .menu-item {
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

header .menu-item:hover,
.subtitle button:hover,
.inquiry button:hover {
  background-color: gray;
  box-shadow: 0 0 5px 0.5px #616161;
  transition: background-color 0.25s linear;
}

@media only screen and (max-width: 930px) {
  header .menu-button {
    display: block;
  }

  header .menu-list {
    /*display: none;*/
  }

  header .menu-item {
    display: block;
  }
}

/*subtitle section styles*/
.carousel-inner {
  max-height: 45rem;
}

.carousel-item img {
  height: 100%;
  width: auto;
}

.subtitle {
    position: absolute;
    left: 15%;
    top: 25%;
    /* background-color: black; */
    color: white;
    width: 50%;
}

.subtitle h1 {
  font-size: 1.35rem;
  font-weight: normal;
  text-align: left;
}

.subtitle button {
  width: 75%;
  /*margin: 0 10%;*/
}

/*Mission section styles*/
#mission .description {
  line-height: 1.3;
  padding: 0 1rem;
}

/*Service section styles*/
#services {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url('../images/brick-pavement-bw.jpg');
}
.service-list {
  align-items: flex-start;
}

.service {
  width: 46%;
  margin-top: 1rem;
}

/*Unicode for "plus" sign on "closed" button*/
.service .accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
}

/*Unicode for "minus" sign on "open" button*/
.service .accordion.active:after {
  content: "\2212";
}

/*Styling for accordion when hovering and panel below is "open"*/
.service .accordion:hover,
.service .accordion.active,
.panel a:hover {
  background-color: #ccc;
}

/*Panel styling that can be toggled depending on class of accordion*/
.panel {
  display: none;
  padding: 1rem;
  background-color: #eee;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 2px 0.2px #9e9e9e;
  max-height: 0;
  transition: max-height 1s linear;
}

.panel a {
  color: black;
  display: block;
  border-radius: 0.75rem;
  line-height: 1.5;
  padding: 0.8rem 0.4rem;
}

/*FAQ styles*/
ol .set {
  padding: 1rem;
}

ol .question {
  list-style: decimal;
  font-weight: bold;
}

ol .answer {
  font-style: italic;
  color: gray;
}

/*Contacts styles*/
.contact {
  margin-top: 2rem;
}

.contact .info,
.contact .inquiry {
  width: 46%;
}

.info h4 {
  font-weight: bold;
  border-bottom: 0.5px solid gray;
  padding-bottom: 0.5rem;
}

.info p {
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.5;
}

.info iframe {
  width: 100%;
  max-height: 18rem;
}

.inquiry input,
.inquiry textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  border-radius: 0.25rem;
  border-style: none;
  box-sizing: border-box;
  resize: none;
}

.inquiry textarea {
  height: 15rem;
}

.inquiry input:focus,
.inquiry textarea:focus {
  background-color: #e7edfb;
}

.inquiry button {
  width: 100%;
}

.inquiry button:active {
  background-color: #dcedc8;
}
